services:
  postgres:
    image: postgres:15
    container_name: avito_pg
    environment:
      POSTGRES_DB: reviewer_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
